!gitignore
Config.py
Config-predesarrollo.py
Config-test.py
Config-www.py
.vscode/*
__pycache__/*
logs/*
classes/__pycache__/*
jsons/
csvs/

# no subir resultados de tests
tests/__pycache__/*
utils/__pycache__/*
*.pyc

# permitir .env.example
!.env.example
!.env.test
.env.*

# no subimos datos recuperados de la API
gestion_alumnos/data/*

# no subimos logs   
gestion_alumnos/logs/*

