{% extends "base.html" %}
{% block titulo %}Nuevas matrículas en FP virtual Aragón{% endblock %}
{% block contenido %}
<p>Hola {{ nombre }} {{ apellidos }},</p>

<p>a su cuenta en <a href="https://{{ subdomain }}.fpvirtualaragon.es/">https://{{ subdomain }}.fpvirtualaragon.es/</a> se le han añadido las siguientes matrículas:</p>

<ul>
{% for matricula in matriculado_en %}  <li>{{ matricula }}</li>
{% endfor %}</ul>

<p>Puede recuperar su contraseña en cualquier momento a través de <a href="https://{{ subdomain }}.fpvirtualaragon.es/login/forgot_password.php">https://{{ subdomain }}.fpvirtualaragon.es/login/forgot_password.php</a></p>

{% include "_aviso_automatico.html" %}
{% endblock %}
