{% extends "base.html" %}
{% block titulo %}Bienvenido/a a FP virtual Aragón{% endblock %}
{% block contenido %}
<p>Bienvenido/a {{ nombre }} {{ apellidos }},</p>

<p>su cuenta se ha creado en <a href="https://{{ subdomain }}.fpvirtualaragon.es/">https://{{ subdomain }}.fpvirtualaragon.es/</a> y sus datos de acceso son los siguientes:</p>

<ul>
  <li>usuario: <strong>{{ usuario }}</strong></li>
  <li>contraseña (es recomendable que la cambie): <strong>{{ contrasena }}</strong></li>
</ul>

<p>También se le creará la siguiente cuenta de correo:</p>

<ul>
  <li>cuenta: <strong>{{ email }}</strong></li>
  <li>contraseña (deberá cambiarla al acceder): <strong>{{ contrasena }}</strong></li>
</ul>

<p>Esta cuenta de correo es la que le dará acceso a las videoconferencias de la plataforma. <strong>La cuenta puede tardar hasta 72 horas lectivas en estar disponible</strong>.</p>

<p>Ha sido matriculado/a en:</p>

<ul>
{% for matricula in matriculado_en %}  <li>{{ matricula }}</li>
{% endfor %}</ul>

<p>Puede recuperar su contraseña en cualquier momento a través de su cuenta de correo de @fpvirtualaragon.es y el enlace <a href="https://{{ subdomain }}.fpvirtualaragon.es/login/forgot_password.php">https://{{ subdomain }}.fpvirtualaragon.es/login/forgot_password.php</a>.</p>

<p>Dispone de un curso de ayuda (al que puede acceder como usuario invitado) dónde encontrar información sobre el uso de la plataforma en <a href="https://{{ subdomain }}.fpvirtualaragon.es/course/view.php?id=2">https://{{ subdomain }}.fpvirtualaragon.es/course/view.php?id=2</a>.</p>

{% include "_aviso_automatico.html" %}
{% endblock %}
